<div class="page-header">
    <h1>
        Home
        <small>ExpungeMe</small>
    </h1>
</div>

<article>
    <h3>STEP 1: DO YOU QUALIFY FOR AN EXPUNGEMENT?</h3>
    <div>
        A person may file a motion to expunge a record of his arrest for a felony or misdemeanor offense that did not result in a conviction if any of the following apply:
        <ol>
            <li>
                The person was not prosecuted for the offense for which he was arrested, and the limitations on the institution of prosecution have barred the prosecution for that offense.
            </li>
            <li>
                The district attorney for any reason declined to prosecute any offense arising out that arrest.
            </li>
            <li>
                Prosecution was instituted and such proceedings have been finally disposed of by dismissal, sustaining of a motion to quash, or acquittal.
            </li>
        </ol>
    </div>
    <h3>STEP 2: WHAT DOCUMENTS DO YOU NEED?</h3>
    <div>
        In addition to the Motion for Expungement (provided in Step 3), you will need the following documents: ­ 
        <ul>
            <li>
                Criminal Background Check from the La.
            </li>
            <li>
                State Police or Parish Sheriff dated within the 30 days.
            </li>
            <li>
                Court Minute entry showing final disposition of case or if no minutes exist, a letter from the District Attorney verifying that the charges were refused or dismissed. 
            </li>
        </ul>
    </div>
    <h3>STEP 3: COMPLETE AND FILE MOTION FOR EXPUNGEMENT</h3>
    <div>
        After you have completed the Form and gather the requirement documents, you need to print the form and file same with the Clerk of Court for the parish in which you were arrested.
    </div>
</article>

<p>
    <button class="btn btn-primary" data-bind="click: onButtonClick">
        Hello
    </button>
</p>